@model westcoast_education.web.ViewModels.Users.TeacherPostViewModel
@{
 Layout = "_LayoutAdmin";
}


<div class="page">
  <h1>Add Teacher</h1>
  <br>
    <form class="shadow" asp-action="Create" asp-controller="TeacherAdmin" method="post">
        <div class="form-control">
            <label asp-for="firstName">FirstName</label>
            <input asp-for="firstName" />
        </div>
        <div class="form-control">
            <label asp-for="lastName">LastName</label>
            <input asp-for="lastName" />
        </div>

        <div class="form-control">
            <label asp-for="email">E-post</label>
            <input asp-for="email" />
        </div>

        <div class="form-control">
            <label asp-for="phoneNumber">Phone.Nr</label>
            <input asp-for="phoneNumber" />
        </div>
        <div class="form-control">
            <label asp-for="address">Address</label>
            <input asp-for="address" />
        </div>
        <div class="form-control">
            <label asp-for="coursesTaught">CoursesTaught</label>
            <input asp-for="coursesTaught" />
        </div>

        <div class="form-control">
            <div class="buttons-container">
                <button type="Submit" class="btn-save"><i class="fa-sharp fa-solid fa-floppy-disk"></i>
                    Save</button>
                <a asp-action="Index" asp-controller="TeacherAdmin" class="btn-warning"><i
                        class="fa-solid fa-arrow-left"></i> Cancel</a>
            </div>
        </div>
    </form>

 </div>