@model westcoast_education.web.ViewModels.Users.StudentUpdateViewModel
@{
    Layout = "_LayoutAdmin";
}
 

 <div class="page">
  <h1>Update User @Model.userId</h1>
    <form class="shadow" asp-action="Edit" asp-controller="StudentAdmin" asp-route-Id=@Model.userId method="post">
        <div class="form-control">
            <label for="">UserID</label>
            <input>
        </div>
        <div class="form-control">
            <label for="">FirstName</label>
            <input>
        </div>
        <div class="form-control">
            <label for="">LastName </label>
            <input>
        </div>
        <div class="form-control">
            <label for="">Email</label>
            <input>
        </div>
        <div class="form-control">
            <label for="">PhoneNumber </label>
            <input>
        </div>
        <div class="form-control">
            <label for="">Address</label>
            <input>
        </div>

        <div class="form-control">
            <div class="buttons-container">
                <button type="Submit" class="btn-save"><i class="fa-sharp fa-solid fa-floppy-disk"></i>
                    Save</button>
                <a asp-action="Index" asp-controller="StudentAdmin" class="btn-warning"><i
                        class="fa-solid fa-arrow-left"></i> Cancel</a>
            </div>
        </div>
    </form>

 </div>