@{
 Layout = "_LayoutAdmin";
}
<br>
<h1 class = "admin">WELCOME WITH STAFF WORK OF WESTCOAST EDUCATION</h1>
<br>
<br>
<h2 class= "admin">Here you can see all lists of courses, teachers, and students. Additionally, you can add to it or edit it.</h2>